Repository TakumaKurosawa/TechTrainGitHubLecture, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, documentation, area/build, area/server, area/infra, area/web

.github/labeler.yml:

"actions":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

"documentation":
  - changed-files:
      - any-glob-to-any-file: "CODEOWNERS"
      - any-glob-to-any-file: "**/*.md"
      - any-glob-to-any-file: "docs/**/*"

"area/build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "**/*.sh"
      - any-glob-to-any-file: "tool/**/*"
      - any-glob-to-any-file: "local/**/*"

"area/server":
  - changed-files:
      - any-glob-to-any-file: "server/**/*"

"area/infra":
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"

"area/web":
  - changed-files:
      - any-glob-to-any-file: "web/**/*"

`make lint` コマンドで `bun run tsc -b` も実行するように修正 (#42)
  Makefile
Labels: area/build

fix lint errors
  web/src/App.tsx
  web/src/components/ui/Button.tsx
  web/src/components/ui/Card.tsx
  web/src/pages/ThemeDemoPage.tsx
  web/src/styles/GlobalStyle.tsx
  web/src/styles/theme.ts
Labels: area/web

fix: lint errors
  web/src/components/ui/Card.tsx
  web/src/components/ui/index.ts
  web/src/pages/ThemeDemoPage.tsx
Labels: area/web

🎨 Implement complete base UI, theme system, and global styles (#38)
  web/src/App.tsx
  web/src/components/ui/Button.tsx
  web/src/components/ui/Card.tsx
  web/src/components/ui/index.ts
  web/src/index.css
  web/src/pages/ThemeDemoPage.tsx
  web/src/styles/GlobalStyle.tsx
  web/src/styles/index.ts
  web/src/styles/theme.ts
Labels: area/web

fix: README
  README.md
Labels: documentation

Add trail new line
  vercel.json
Labels: none

feat: add Vercel deployment config and comprehensive README (#45)
  README.md
  vercel.json
Labels: documentation

fix: Vercel setting
  vercel.json
  web/vercel.json
Labels: area/web

fix: Vercel setting (#46)
  vercel.json
  web/vercel.json
Labels: area/web

fix: カラーコード文字列が読みにくい問題
  web/src/pages/ThemeDemoPage.tsx
Labels: area/web

Fix lint errors
  web/src/App.tsx
  web/src/components/RouterLayout.tsx
  web/src/components/ui/Button.tsx
  web/src/pages/NewReviewPage.tsx
  web/src/pages/ReviewDetailPage.tsx
  web/src/pages/ReviewsListPage.tsx
  web/src/pages/TopPage.tsx
  web/src/styles/theme.ts
Labels: area/web

fix: contrast
  web/src/pages/TopPage.tsx
Labels: area/web

fix: routing animation
  web/src/App.tsx
  web/src/components/RouterLayout.tsx
Labels: area/web

feat: React Router v6 ルーティング実装 (#47)
  web/src/App.tsx
  web/src/components/RouterLayout.tsx
  web/src/components/index.ts
  web/src/components/ui/Button.tsx
  web/src/pages/NewReviewPage.tsx
  web/src/pages/ReviewDetailPage.tsx
  web/src/pages/ReviewsListPage.tsx
  web/src/pages/TopPage.tsx
  web/src/pages/index.ts
  web/src/styles/theme.ts
Labels: area/web

Create dependabot.yml
  .github/dependabot.yml
Labels: actions

Create dependabot.yml (#53)
  .github/dependabot.yml
Labels: actions

hoge
  README.md
Labels: documentation

fuga
  README.md
Labels: documentation
