Repository TakumaKurosawa/TechTrainGitHubLecture, changes with the labels that .github/labeler.yml gives for each.
All labels: actions, documentation, area/build, area/server, area/infra, area/web

Add auto assign auther workflow
  .github/workflows/auto-assign.yml
Labels: actions

Add presubmit workflow
  .github/workflows/presubmit.yml
Labels: actions

Claude用システムプロンプトの作成
  CLAUDE.md
Labels: documentation

新規機能開発タスク用issueテンプレート作成
  .github/ISSUE_TEMPLATE/new-feature.md
Labels: actions, documentation

バグ報告用issueテンプレートの作成
  .github/ISSUE_TEMPLATE/bug.md
Labels: actions, documentation

Pull Requestの運用ルールをドキュメント化
  docs/guidelines/pull_request_guide.md
Labels: documentation

Copilot review instructionの作成
  .github/copilot-instructions.md
Labels: actions, documentation

Pull Requestテンプレートの作成
  .github/pull_request_template.md
Labels: actions, documentation

Apply copilot review comment: Remove babel setting
  CLAUDE.md
Labels: documentation

Apply copilot review comment: babel plugin
  CLAUDE.md
Labels: documentation

Apply copilot review comment: add comment for bug reporting
  .github/ISSUE_TEMPLATE/bug.md
Labels: actions, documentation

Apply copilot review comment: add coment for new feature
  .github/ISSUE_TEMPLATE/new-feature.md
Labels: actions, documentation

バグ報告用issueテンプレートの作成
  .github/ISSUE_TEMPLATE/bug.md
Labels: actions, documentation

Apply copilot review comment: add comment for bug reporting
  .github/ISSUE_TEMPLATE/bug.md
Labels: actions, documentation

Apply copilot review comment: add coment for new feature
  .github/ISSUE_TEMPLATE/new-feature.md
Labels: actions, documentation

新規機能開発タスク用issueテンプレート作成
  .github/ISSUE_TEMPLATE/new-feature.md
Labels: actions, documentation

Apply copilot review comment: typo
  docs/guidelines/pull_request_guide.md
Labels: documentation

Update docs/guidelines/pull_request_guide.md
  docs/guidelines/pull_request_guide.md
Labels: documentation

Add Makefile
  Makefile
Labels: area/build

Apply copilot review comment: 機能毎→機能ごと
  docs/guidelines/pull_request_guide.md
Labels: documentation

Apply copilot review comment: マージ可能要件
  docs/guidelines/pull_request_guide.md
Labels: documentation

Apply copilot review comment: 助詞
  .github/copilot-instructions.md
Labels: actions, documentation

Pull Requestテンプレートの作成 (#15)
  .github/copilot-instructions.md
  .github/pull_request_template.md
  docs/guidelines/pull_request_guide.md
Labels: actions, documentation

Add Makefile (#16)
  Makefile
Labels: area/build

Run `setup` and `format` command
  web/bun.lock
  web/src/App.css
  web/src/App.tsx
  web/src/components/features/index.ts
  web/src/components/index.ts
  web/src/components/layout/index.ts
  web/src/components/ui/index.ts
  web/src/data/index.ts
  web/src/hooks/index.ts
  web/src/index.css
  web/src/main.tsx
  web/src/pages/index.ts
  web/src/pages/manager/index.ts
  web/src/pages/member/index.ts
  web/src/store/index.ts
  web/src/styles/index.ts
  web/src/types/index.ts
  web/src/utils/index.ts
  web/src/vite-env.d.ts
Labels: area/web

Webアプリケーション 初期セットアップ（Vite + React + TS, bun, Biome, Makefile） (#29)
  Makefile
  web/.gitignore
  web/biome.json
  web/bun.lock
  web/index.html
  web/package.json
  web/public/vite.svg
  web/src/App.css
  web/src/App.tsx
  web/src/assets/.gitkeep
  web/src/assets/react.svg
  web/src/components/features/index.ts
  web/src/components/index.ts
  web/src/components/layout/index.ts
  web/src/components/ui/index.ts
  web/src/data/index.ts
  web/src/hooks/index.ts
  web/src/index.css
  web/src/main.tsx
  web/src/pages/index.ts
  web/src/pages/manager/index.ts
  web/src/pages/member/index.ts
  web/src/store/index.ts
  web/src/styles/index.ts
  web/src/types/index.ts
  web/src/utils/index.ts
  web/src/vite-env.d.ts
  web/tsconfig.app.json
  web/tsconfig.json
  web/tsconfig.node.json
  web/vite.config.ts
Labels: area/build, area/web

Webアプリ用 静的解析ワークフローの作成
  .github/workflows/static-check-web.yml
  web/biome.json
  web/bun.lock
  web/package.json
  web/src/App.tsx
  web/tsconfig.node.json
  web/vite.config.ts
Labels: actions, area/web

Webアプリ用 静的解析ワークフローの作成 (#34)
  .github/workflows/static-check-web.yml
  web/biome.json
  web/bun.lock
  web/package.json
  web/src/App.tsx
  web/tsconfig.node.json
  web/vite.config.ts
Labels: actions, area/web

全てのファイルで末尾に改行を入れることをCLAUDE.mdでルール化
  CLAUDE.md
Labels: documentation

全てのファイルで末尾に改行を入れることをCLAUDE.mdでルール化 (#39)
  CLAUDE.md
Labels: documentation

fix: auto assign workflow
  .github/workflows/auto-assign.yml
Labels: actions

fix: auto assign workflow (#40)
  .github/workflows/auto-assign.yml
Labels: actions

fix: type check
  web/src/components/ui/SampleForm.tsx
Labels: area/web

fix: lint error
  web/src/pages/About.tsx
  web/src/pages/Home.tsx
  web/src/store/appStore.ts
Labels: area/web

feat: implement comprehensive React demo with all required dependencies (#36)
  web/src/App.tsx
  web/src/components/ui/SampleForm.tsx
  web/src/components/ui/index.ts
  web/src/pages/About.tsx
  web/src/pages/FormDemo.tsx
  web/src/pages/Home.tsx
  web/src/pages/index.ts
  web/src/store/appStore.ts
  web/src/store/index.ts
Labels: area/web

Remove `lint` command in web app
  Makefile
  web/package.json
Labels: area/build, area/web

Remove `lint` command in web app (#41)
  Makefile
  web/package.json
Labels: area/build, area/web

fix: なぜか右端に余白ができてしまう問題
  web/src/index.css
Labels: area/web

fix: カラーパレットのカラーコード文字列がコントラスト低く読めない問題
  web/src/pages/ThemeDemoPage.tsx
Labels: area/web

`make lint` コマンドで `bun run tsc -b` も実行するように修正
  Makefile
Labels: area/build

.github/labeler.yml:

"actions":
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

"documentation":
  - changed-files:
      - any-glob-to-any-file: "CODEOWNERS"
      - any-glob-to-any-file: "**/*.md"
      - any-glob-to-any-file: "docs/**/*"

"area/build":
  - changed-files:
      - any-glob-to-any-file: "Makefile"
      - any-glob-to-any-file: "**/*.sh"
      - any-glob-to-any-file: "tool/**/*"
      - any-glob-to-any-file: "local/**/*"

"area/server":
  - changed-files:
      - any-glob-to-any-file: "server/**/*"

"area/infra":
  - changed-files:
      - any-glob-to-any-file: "infra/**/*"

"area/web":
  - changed-files:
      - any-glob-to-any-file: "web/**/*"
